aside {
    grid-area: aside;
    position: fixed;
    /* background-color: #f77c7c; */
    z-index: 3199;
    transition: .5s;
    /* padding: 15px; */
    width: 230px;
    height: 100%;
    transform: translateX(-210px);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  
  aside img {
    width: 40px;
  }
  
  .nav_item {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
    cursor: pointer;
    padding: 5px 5px;
    margin: 5px 0;
    font-size: 20px;
    color: #ffffff;
    /* color: #383838; */
    background-color: #f56060;
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateX(30px);

    box-shadow: 1px 1px 20px -10px rgb(0, 0, 0);
    
    /* transform: translateX(-160px); */
  }
  
  .nav_item a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav_item:first-child {
    /* margin-top: 10px; */
  }
  
  .nav_item:hover {
    transition: .7s;
    transform: translateX(210px);
  }
  
  .nav_item:last-child {
    margin: 0;
    margin-top: 50px;
  }
  
  .nav_item:hover a{
    transform: translateX(15px);
  }



@media only screen and (min-width : 320px) and (max-width : 480px) {

}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {
/* стили */
}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
/* стили */
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
/* стили */
}

/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/* стили */
}

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
/* стили */
}

/* iPad 3**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
/* стили */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
/* стили */
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen  and (min-width: 1224px) {
/* стили */
}