.ava {
    width: 200px;
    height: 200px;
    border: 10px solid #ffffff;
    z-index: 1299;
    position: absolute;
    bottom: 0;
    left: 7%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.6s;
  }

  .ava:hover .ava_block {
    opacity: 0.3;
  }

  .ava_block::before {
    content: '';
    width: 80px;
    height: 5px;
    z-index: 1299;
    position: absolute;
    z-index: 2999;
    background: rgb( 255, 255, 255);
  }

  .ava_block::after {
    content: '';
    width: 5px;
    height: 80px;
    z-index: 1299;
    position: absolute;
    z-index: 2999;
    background: rgb( 255, 255, 255);
  }

  .ava_block {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000000;
    z-index: 3999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1199;
  }