.dialogs {
    color: #f56060;
    font-size: 20px;
    display: grid;

    grid-template-columns: 3fr 9fr;
}

.dialog {
    height: 60px;
    margin-bottom: 10px;
    margin-right: 10px;


    box-shadow:0px 1px 6px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.2);
    padding: 5px;

    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    cursor: pointer;

    transition: .5s;
}

.dialog:hover .name{
    transform: translateX(15px);
}

.ava {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    /*box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);*/
    /*-webkit-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);*/
    /*-moz-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);*/
}

.ava img {
    width: 100%;
    height: 100%;
}

.active {
    /*padding: 10px;*/
    box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);
}

.active .name{
    font-weight: 700;
    margin-top: 5px;
    transform: translateX(15px);
    /*font-size: 19px;*/
}


.name {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.dialogs a {
    color: #f56060;
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;

    align-items: flex-start;
    transition: .5s;
}

.messages {
    box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 6px 0px rgba(0,0,0,0.35);
    height: 87vh;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.message {
    color: #ffffff;
    background: #f56060;
    border-radius: 20px;
    padding: 10px;
    padding-top: 12px;
    width: 40%;
    position: relative;
    cursor: pointer;
}

.scroll {
    height: 88.5%;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.message:hover {
    background-color: rgba(245, 96, 96, 0.9);
}

.message_wrap {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}
.message_wrap[value="Me"], .message_wrap[value="Я"]{
    justify-content: flex-end;
}

.message_wrap[value="Me"] img, .message_wrap[value="Я"] img {
    margin-left: 10px;
}

.message_wrap[value="Me"] img:last-child, .message_wrap[value="Я"] img:last-child {
    display: block;
}

.message_wrap[value="Me"] img:nth-child(1), .message_wrap[value="Я"] img:nth-child(1) {
    display: none;
}

.message_wrap img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.message_wrap img:last-child {
    display: none;
}

.time {
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 20px;
}

.text {
    padding: 10px;
    word-break: break-all;
}

.field {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    background-color: #fff;
}

.field textarea {
    width: 75%;
    resize: none;
    height: 60px;
    padding: 10px;
    font-size: 20px;
}

.field button {
    margin: 0;
    margin-left: 10px;
}
